/* Import Google font - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(./img1/Desktop\ -\ SignUp\ \(1\).jpg);
}

.wrapper {
  position: relative;
  max-width: 470px;
  width: 100%;
  border-radius: 12px;
  padding: 20px 30px 120px;
  background: #171616;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.form.login {
  position: absolute;
  left: 50%;
  bottom: -86%;
  transform: translateX(-50%);
  width: calc(100% + 220px);
  padding: 20px 140px;
  border-radius: 50%;
  height: 100%;
  background: #FFC700;
  transition: all 0.6s ease;
}

.wrapper.active .form.login {
  bottom: -15%;
  border-radius: 35%;
  box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.1);
}

.form_signup header, .form.login header {
  font-size: 30px;
  text-align: center;
  font-weight: 600;
  cursor: pointer;
}

.form.login header {
  color: #000;
  opacity: 0.6;
}
header{
  color: #fbfbfb;
}
.wrapper.active .form.login header {
  opacity: 1;
}

.wrapper.active .signup header {
  opacity: 0.6;
}

.wrapper form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 40px;
}

form input {
  /* padding: 0 15px; */
  height: 35px;
  outline: none;
  border: none;
  font-size: 16px;
  font-weight: 400;
  color: #333;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

input::placeholder {
  padding-left: 4%;
}

.container1, .container2 {
  display: flex;
  gap: 15px;          
  justify-content: center;
}

.form_signup input {
  padding-left: 10px;
}

.form.login input {
  border: 1px solid #aaa;
}

.form.login input:focus {
  box-shadow: 0 1px 0 #ddd;
}

form .checkbox {
  display: flex;
  align-items: center;
  gap: 10px;
}

.checkbox input[type="checkbox"] {
  height: 16px;
  width: 16px;
  accent-color: #FFC700;
  cursor: pointer;
}

form .checkbox label {
  cursor: pointer;
  color: #fff;
}

form a {
  color: #fbfbfb;
  text-decoration: none;
  margin-top: 0;
  margin-left: 2%;
  transition: ease background-color 0.3s;

}
.form a:hover {
  transform: translate(-2px, -2px);
  color: #1b7dc7;
}

form a:hover {
  text-decoration: underline;
}

form input[type="submit"] {
  margin-top: 15px;
  padding: none;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
   z-index: 10;
  position: relative;
}

.form.login input[type="submit"] {
  background: #000;
  color: #fff;
}

.btn {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 4px;
  margin: 5px 0;
  opacity: 0.85;
  display: inline-block;
  font-size: 17px;
  line-height: 20px;
  text-decoration: none; 
}

.button1, .button2{
  margin-top: 5%;
  width: 100%;
  height: 7vh;
  border-radius: 8px;
  border: none;
  justify-content: space-between;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}

.google {
  background-color: #fefefe;
  color: #000;
}
.button{
  width: 60%;
  height: 7vh;
  border-radius: 20px;
  margin-left: 20%;
  font-size: 1rem;
  background-color: #000000;
  color: #ffffff;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;

}
.button:hover::before {
  left: 100%;
}

.button:hover {
  transform: translate(-2px, -2px);
}
.fa-brands{
  height: auto;
  width: 10%;
  color: rgb(17, 103, 165);
}
.fa-google{
  color: #ffffff;
}
